@font-face {
    font-family: 'BLGlobule';
    src: url('fonts/Globule\ Grotesque\ v2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

body, .center-text {
    font-family: 'BLGlobule', sans-serif;
}

.center-text, .button-container, .bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.center-text {
    text-align: center;
    display: block;
    color: #08080B;
    font-size: 20px;
    letter-spacing: -0.1px;
    opacity: 0;
    transition: opacity 0.3s;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    white-space: pre-wrap;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.link-container {
    font-size: 20px;
    letter-spacing: -0.1px;
    opacity: 0;
    transition: opacity 0.3s;
    user-select: none;
    -webkit-user-select: none;
    color: #08080B;
    text-align: center;
    margin: 2em 0;
}

.link-container a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link-container a:hover {
    color: #afafaf;
}

.bottom-links {
    font-size: 20px;
    background-color: transparent;
    opacity: 0;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: auto;
}

.bottom-links a {
    color: #08080B;
    text-decoration: none;
    margin: 0 2px;
    transition: color 0.3s;
}

.bottom-links a:hover {
    color: #afafaf;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
        box-sizing: border-box;
    }

    .center-text {
        font-size: 17px;
        white-space: pre-wrap;
        margin: 20px auto;
        padding: 0;
        max-width: 100%;
    }

    .link-container {
        font-size: 17px;
        margin: 1.5em 0;
        padding: 0;
    }

    .bottom-links {
        font-size: 17px;
        padding: 10px;
        bottom: 10px;
        white-space: nowrap;
    }
}

@media (max-height: 600px) {
    .center-text {
        margin: 10px auto;
    }

    .link-container {
        margin: 1em 0;
    }

    .bottom-links {
        padding: 5px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}